---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Banner from "@/components/Banner.astro";
import banner from "@/assets/clouds.png";
import { Content } from "@/content/about-bta.md";
---

<BaseLayout title="About | BTA Pune">
  <Banner text="About Brandons Taekwondo Academy" image={banner} />
  <section
    class="bg-cover bg-no-repeat bg-right-top"
    style="background-image:url(/images/watermark.svg);"
  >
    <div
      class="container mx-auto px-5 py-10 lg:py-20 prose max-w-4xl prose-lg prose-a:text-blue-600 prose-strong:text-red-700 prose-p:text-justify"
    >
      <Content />
    </div>
  </section>
</BaseLayout>
