---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Banner from "@/components/Banner.astro";
import banner from "@/assets/clouds.png";
import Icon from "astro-icon";
---

<BaseLayout title="Contact Us | BTA Pune">
  <Banner text="Contact Us" image={banner} />

  <section>
    <div
      class="container mx-auto px-5 py-10 lg:py-20 grid lg:grid-cols-2 gap-x-16 gap-y-12"
    >
      <form action="" class="grid gap-4">
        <input
          class="px-4 py-2 rounded border"
          type="text"
          name="name"
          placeholder="Name"
        />
        <input
          class="px-4 py-2 rounded border"
          type="email"
          name="email"
          placeholder="Email address"
        />
        <input
          class="px-4 py-2 rounded border"
          type="text"
          name="phone"
          placeholder="Phone number"
        />
        <textarea
          class="px-4 py-2 rounded border resize-none"
          name="message"
          placeholder="Message"
          rows="10"></textarea>
        <button type="submit" class="mt-8 relative w-fit py-2 px-4">
          <span
            class="absolute top-0 left-0 w-full h-full bg-blue-600 rotate-3 hover:rotate-0 transition-transform duration-300 ease-in-out"
          ></span>
          <span
            class="relative pointer-events-none font-bold text-lg text-white"
            >Send</span
          >
        </button>
      </form>
      <div class="flex flex-col gap-6 max-lg:items-center">
        <div class="flex max-lg:flex-col gap-1 lg:gap-4">
          <Icon name="mdi:address-marker" class="h-8 opacity-40" />
          <address class="not-italic max-lg:text-center">
            272/6, Byramji Building, <br />
             Sholapur Bazaar, Camp, <br />PMC - 411001
          </address>
        </div>
        <a
          href="mailto:brandonstaekwondo@yahoo.co.uk"
          class="flex max-lg:flex-col gap-1 lg:gap-4 items-center group"
        >
          <Icon name="mdi:envelope" class="h-8 opacity-40" />
          <address class="not-italic max-lg:text-center group-hover:underline">
            brandonstaekwondo@yahoo.co.uk
          </address>
        </a>
        <a
          href="tel:919822209622"
          class="flex max-lg:flex-col gap-1 lg:gap-4 items-center group"
        >
          <Icon name="mdi:phone" class="h-8 opacity-40" />
          <address class="not-italic max-lg:text-center group-hover:underline">
            +91 9822209622
          </address>
        </a>
        <div class="flex items-center gap-4">
          <a target="_blank" href="//instagr.am/btapune"
            ><Icon name="mdi:instagram" class="h-8 opacity-40" /></a
          >
          <a target="_blank" href="//fb.com/100069403016272"
            ><Icon name="mdi:facebook" class="h-8 opacity-40" /></a
          >
        </div>
      </div>
    </div>
  </section>

  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.5544811042328!2d73.87770007606179!3d18.503828969683717!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c03705555555%3A0xf6c7ecebee4a0d28!2sBrandons%20Taekwondo%20Academy!5e0!3m2!1sen!2sin!4v1700158155209!5m2!1sen!2sin"
    height="450"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
    class="w-full"></iframe>
</BaseLayout>
