---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Banner from "@/components/Banner.astro";
import banner from "@/assets/clouds.png";
---

<BaseLayout title="Instructors | BTA Pune">
  <Banner text="Instructors" image={banner} />

  <section
    class="bg-cover bg-no-repeat bg-right-top"
    style="background-image:url(/images/watermark.svg);"
  >
    <div class="container mx-auto px-5 py-10 lg:py-20">
      <div class="flex max-lg:flex-col gap-8">
        <div class="max-w-xl w-full flex justify-center">
          <img
            src="/images/ajay.png"
            alt=""
            class="w-auto lg:h-[450px] h-[300px]"
          />
        </div>
        <div class="prose w-full">
          <h2 class="not-prose mb-8 max-lg:text-center">
            Instructor Ajay R. Gaikwad
          </h2>
          <ul>
            <li><strong>Taekwondo Experience:</strong> June 1996 till date</li>
            <li>
              <strong>Rank in Taekwondo:</strong> 4th Dan Black Belt, Kukkiwon
            </li>
            <li>
              <strong>Present Occupation:</strong> Physical Education Teacher
              with Hillgreen High School & Junior College
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section
    class="bg-cover bg-no-repeat bg-right-top"
    style="background-image:url(/images/watermark.svg);"
  >
    <div class="container mx-auto px-5 py-10 lg:py-20">
      <div class="flex max-lg:flex-col gap-8">
        <div class="max-w-xl w-full flex justify-center">
          <img
            src="/images/ajay.png"
            alt=""
            class="w-auto lg:h-[450px] h-[300px]"
          />
        </div>
        <div class="prose w-full">
          <h2 class="not-prose mb-8 max-lg:text-center">
            Instructor Ashwin Kumar Ram
          </h2>
          <ul>
            <li>
              <strong>Taekwondo Experience:</strong> Since April 2011 till date
            </li>
            <li>
              <strong>Rank in Taekwondo:</strong> 1st Dan Black Belt, Kukkiwon
            </li>
            <li>
              <strong>Present Occupation:</strong> Student at D.Y. Patil
              University. F.Y.B. Com Honours
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
