---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Banner from "@/components/Banner.astro";
import banner from "@/assets/clouds.png";
---

<BaseLayout title="Masters | BTA Pune">
  <Banner text="Masters" image={banner} />

  <section>
    <div class="container mx-auto px-5 py-10 lg:py-20">
      <div class="flex max-lg:flex-col gap-8">
        <div class="max-w-xl w-full grid place-items-center">
          <img
            src="/images/richard.png"
            alt=""
            class="w-auto lg:h-[600px] h-[300px]"
          />
        </div>
        <div class="prose w-full">
          <h2 class="not-prose mb-8 max-lg:text-center">
            Master Richard Anselm Fernandes
          </h2>
          <ul>
            <li>
              1st Dan Black Belt Certificate: 15th January 1993 (Appeared in
              India)
            </li>
            <li>
              2nd Dan Black Belt Certificate: 20th November 1996 (Appeared in
              Korea)
            </li>
            <li>
              3rd Dan Black Belt Certificate: 5th February 1999 (Appeared in
              Korea
            </li>
            <li>
              4th Dan Black Belt Certificate: 15th March 2003 (Appeared in
              Korea)
            </li>
            <li>
              5th Dan Black Belt Certificate: 15th June 2007 (Appeared in Korea)
            </li>
            <li>
              6th Dan Black Belt Certificate: 15th August 2012 (Appeared in
              Korea)
            </li>
          </ul>
          <p>
            All of the above Certificates were received from the World Taekwondo
            Federation, (Kukkiwon), Seoul, South Korea
          </p>

          <p>
            Master Richard Anselm Fernandes was fascinated by Martial Art movies
            especially ones of Bruce Lee, that's when he decided to learn
            Karate. He was fortunate to meet Master Ismail Ghasami a high
            ranking Karate Master and Chief-Instructor of Nejad Martial Arts,
            thereafter he trained under Master Ghasami in the year 1984 to 1986.
            He did not stop his training there, he continued training in
            Taekwondo, a Korean form of Martial Arts, under the guidance of
            Master Ravi Shrotriya, the Chief Instructor of Han-Ul Taekwondo
            Academy .
          </p>
          <p>
            Teaching Taekwondo is his full-time career and is something he loves
            to do the most. He spends his time trying to find the best way to
            provide his students the highest quality of Taekwondo training and a
            friendly atmosphere, where every individual is important. He tries
            to emphasize on important social values like Respect, Integrity,
            Courtesy and Self-Discipline.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-neutral-50">
    <div class="container mx-auto px-5 py-10 lg:py-20">
      <div class="flex max-lg:flex-col gap-8">
        <div class="max-w-xl w-full grid place-items-center">
          <img
            src="/images/brandon.png"
            alt=""
            class="w-auto lg:h-[600px] h-[300px]"
          />
        </div>
        <div class="prose w-full">
          <h2 class="not-prose mb-8 max-lg:text-center">
            Master Brandon P. Fernandes
          </h2>
          <p>
            Brandon holds the record of being the youngest 1st Poom Black Belt
            at age 6 years, 1 month and 27 days. His name is listed in the Limca
            Book of Records on page 51 of the 1998 edition.
          </p>
          <ul>
            <li>
              1st Poom Black Belt : 27th October 1996 ( “KUKKIWON” The World
              Taekwondo Federation Headquarters, Seoul, South Korea.)
            </li>

            <li>
              2nd Poom Black Belt : October 1997 to 5th November 1997 (Sangrok
              World Taekwondo Academy)
            </li>

            <li>
              3rd Poom Black Belt Certificate at “KUKKIWON” as of 14th November
              1999 at the age of 9 years, 2 months and 14 days.
            </li>
          </ul>
          <p>
            He created history in Taekwondo by becoming India’s youngest 4th
            Poom black belt at the above mentioned age, for which he was
            interviewed by Star Sports and featured on Sports Line (Live
            Telecast) on Tuesday 29th April 2003
          </p>
          <p>
            After patiently waiting for Ten long years to grade from a 4th Poom
            to a 5th Dan, Brandon graduated as India’s youngest 5th Dan Black
            Belt from kukkiwon at the age of 22 years 6 months and 5 days.
          </p>
          <p>
            Master Brandon P. Fernandes Trained under the expertise of
            Grandmaster Chang Seong Dong, 8th Dan Black Belt, Director of
            Sangrok World Taekwondo Academy, Seoul, South Korea. Brandon holds
            the record of being the youngest 1st Poom Black Belt at age 6 years,
            1 month and 27 days. His name is listed in the Limca Book of Records
            on page 51 of the 1998 edition.He created history in Taekwondo by
            becoming India's youngest 4th Poom black belt at the above mentioned
            age, for which he was interviewed by Star Sports and featured on
            Sports Line (Live Telecast) on Tuesday 29th April 2003
          </p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container mx-auto px-5 py-10 lg:py-20">
      <div class="flex max-lg:flex-col gap-8">
        <div class="max-w-xl w-full grid place-items-center">
          <img
            src="/images/sheldon.png"
            alt=""
            class="w-auto lg:h-[600px] h-[300px]"
          />
        </div>
        <div class="prose w-full">
          <h2 class="not-prose mb-8 max-lg:text-center">
            Master Sheldon J. Fernandes
          </h2>
          <p>5th Dan Black Belt Kukkiwon, Seoul, South Korea</p>

          <ul>
            <li>1st Poom Black Belt Certificate - 20th June 2002</li>
            <li>2nd Poom Black Belt Certificate - 5th October 2004</li>
            <li>3rd Poom Black Belt Certificate - 5th December 2007</li>
            <li>4th Dan Black Belt Certificate - 20th January 2011</li>
            <li>5th Dan Black Belt Certificate - 7th May 2018</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
