---
import { getImage } from "astro:assets";
interface Props {
  image: any;
  text: string;
  id?: string;
}
const { image, text, id } = Astro.props as Props;
const { src } = await getImage({
  src: image,
  alt: text,
  width: 1080,
  height: 600,
  format: "webp",
  quality: 80,
});
---

<section
  class="min-h-[300px] lg:min-h-[400px] bg-no-repeat bg-cover bg-center grid place-items-center p-4 lg:p-8 pt-8 lg:pt-16"
  style=`background-image:url(${src});`
  {id}
>
  <h1
    class="text-white text-center text-3xl sm:text-4xl lg:text-6xl font-black text-balance max-w-6xl"
  >
    {text}
  </h1>
</section>
