---
import { Icon } from "astro-icon";
---

<footer class="bg-neutral-900 text-white">
  <div
    class="container mx-auto px-5 py-10 flex max-lg:flex-col items-center lg:items-end justify-between gap-8"
  >
    <div class="flex flex-col gap-6 max-lg:items-center">
      <div class="flex max-lg:flex-col gap-1 lg:gap-4">
        <Icon name="mdi:address-marker" class="h-8 opacity-40" />
        <address class="not-italic max-lg:text-center">
          272/6, Beramji Building, <br />
          Sholapur Bazaar, Camp, PMC - 411001
        </address>
      </div>
      <div class="flex max-lg:flex-col gap-1 lg:gap-4 items-center">
        <Icon name="mdi:envelope" class="h-8 opacity-40" />
        <address class="not-italic max-lg:text-center">
          brandonstaekwondo@yahoo.co.uk
        </address>
      </div>
      <div class="flex max-lg:flex-col gap-1 lg:gap-4 items-center">
        <Icon name="mdi:phone" class="h-8 opacity-40" />
        <address class="not-italic max-lg:text-center">+91 9822209622</address>
      </div>
      <div class="flex items-center gap-4">
        <a href="#"><Icon name="mdi:instagram" class="h-8 opacity-40" /></a>
        <a href="#"><Icon name="mdi:facebook" class="h-8 opacity-40" /></a>
      </div>
    </div>
    <div class="flex flex-col items-center lg:items-end gap-8">
      <img
        src="/images/logo.png"
        alt=""
        class="lg:h-[150px] h-[100px] grayscale invert opacity-40"
      />
      <a href="//gavinpereira.in" class="group text-lg">
        <span>&lt;/&gt; by</span>
        {" "}
        <span class="font-bold group-hover:underline">Gavin Pereira</span>
      </a>
    </div>
  </div>
</footer>
